
        body{
            background-color: lightblue;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        h1, h2{
            color:whitesmoke;
            background-color: black;
            width: 400px;
            border-radius: 1cm;
            
        }
   